<html>
   <body>
      
      <form action = " http://127.0.0.1:5000/creat_talk/" method = "post">
          <p>账号：<input type = "text" name = "talk_name" /></p>
          <p>密码<input type="text" name = "que_user"/></p>
          <p>密码<input type="text" name = "que_text"/></p>
          <p>密码<input type="text" name = "que_time"/></p>
          <p>密码<input type="text" name = "password"/></p>
          <p>密码<input type="text" name = "password"/></p>
         <p><input type = "submit" value = "登录" /></p>
      </form>
      
   </body>
</html>